In [3]:
from itertools import product

a = [1,2]
b = [3,4]

prod = list(product(a,b))
prod

[(1, 3), (1, 4), (2, 3), (2, 4)]

In [6]:
b = [3]
prod = list(product(a,b,  repeat=2))
prod

[(1, 3, 1, 3), (1, 3, 2, 3), (2, 3, 1, 3), (2, 3, 2, 3)]

In [7]:
from itertools import permutations

a = [1, 2, 3]

perm = permutations(a)
list(perm)

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

In [8]:
from itertools import combinations
# 2nd arg is the length of tule to make combinations as
comb = combinations(a, 2)
list(comb)

[(1, 2), (1, 3), (2, 3)]

In [10]:
from itertools import accumulate
# returns the accumulated result, default is sums

acc = accumulate(a)
list(acc)

[1, 3, 6]

In [13]:
import operator

a = [1, 2, 3, 3, 2]
# for multiplication, can be used with any operator
acc = accumulate(a, func=max)

list(acc)

[1, 2, 3, 3, 3]

In [15]:
from itertools import groupby
#  returns keys in groups by iterables 
def smaller_than_3(x):
    return x < 3

group = groupby(a, key=smaller_than_3)

for key, val in group:
    print(key, list(val))

True [1, 2]
False [3, 3]
True [2]

In [16]:
# use case example 
persons = [{'name':'a', 'age': 25}, {'name':'b', 'age': 25}, {'name':'ad', 'age': 54}, {'name':'sfs', 'age': 54}, {'name':'qwe', 'age': 20}]

group = groupby(persons, key=lambda a: a['age'])

for key, val in group:
    print(key, list(val))

25 [{'name': 'a', 'age': 25}, {'name': 'b', 'age': 25}]
54 [{'name': 'ad', 'age': 54}, {'name': 'sfs', 'age': 54}]
20 [{'name': 'qwe', 'age': 20}]

In [21]:
# infinite iterables

from itertools import count, cycle, repeat
#  for count starting from the first arg, with step as an optional second arg
for i in count(10):
    print(i)
    if i == 15:
        break

10
11
12
13
14
15

In [24]:
some = [1, 2, 3]
count = 0
for i in cycle(some):
    print(i)
    count += 1
    if count == 5:
        break

1
2
3
1
2

In [25]:
for i in repeat("asd", 4):
    print(i)

asd
asd
asd
asd